body{text-align: justify;}
ul li{text-align: left;}
ul.slides li{text-align: center;}
.nav-bar {
  height: 85px;
  max-height: 85px;
  line-height: 83px;
  border-bottom: 0px solid #ccc;
}
.nav-bar .module,
.nav-bar .module-group {
  height: 85px;
}
.nav-bar a {
  display: inline-block;
  height: 85px;
}
.logo {
  max-height: 70%;
}
.logo-light {
  display: none;
}
nav.nav-centered .logo {
  max-height: 64px;
  margin: 64px 0 40px 0;
}

.logo-carousel li{margin-right: 2px;}
#mc_embed_signup{width: 700px; margin: 60px auto 60px; background: #eeeeee; padding: 20px;}
.indicates-required{text-align: right;}
.asterisk{color: #ff0000;}
#mc_embed_signup h2{border-bottom: 1px solid #777777; padding-bottom: 10px; font-size: 30px; font-weight: 400;  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;}
#mc_embed_signup h3{font-size: 20px; font-weight: 400; margin: 0; padding: 0; font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;}
input[type="number"]{background: #f5f5f5; border: none; width: 100%; height: 50px; padding-left: 20px; font-weight: 500; margin-bottom: 24px; border-radius: 0;}
input[type="email"]{background: #f5f5f5; border: none; width: 100%; height: 50px; padding-left: 20px; font-weight: 500; margin-bottom: 24px; border-radius: 0;}
#mailchimp-contact textarea{padding: 16px 0 50px 20px;}
.mc-address-group{min-height: -webkit-fill-available;}
.custom-header h3, h5, h6{margin: 15px 0 15px 0;}
.custom-list p{margin-bottom: 35px; font-size: 20px;}
.custom-list i{padding-right: 15px; line-height: 30px;}
.projects .project{padding: 0 15px;}
.custom-list {float: left;}
.custom-bullets{font-size: 16px !important;}
h2.cust-heading {
    font-size: 38px !important;
    line-height: 55px !important;
}
.cust-heading2 {
    font-size: 30px !important;
    color: #638095 !important;
}
.cust-heading3 {
    font-size: 30px !important;
    color: #fff !important;
    font-weight: 700;
}
.mh{
  min-height: 290px;
}

.filtr-item {
    padding: 20px;
    width: 400px;
    height: 275px;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter, .multifilter, .sortandshuffle, .search-row {
  padding-left: 0;
  overflow: hidden;
  display: inline-block;
}
.simplefilter li{
  float: left;
  margin-right: 32px;
  cursor: pointer;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid #638095;
  padding: 0 26px;
  height: 40px;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  color: #638095;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 24px;
  height: 30px;
  font-size: 11px;
  line-height: 27px;
  min-width: 0;
  border-color: rgba(255, 255, 255, 0);
  opacity: .7;
  border-radius: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

.simplefilter li.active {
  border-color: #638095;
  opacity: 1;
}

/* Helpers */
.push-down {
  margin-bottom: 50px;
}

.filtr-container,
{
  transition: height 500ms ease-out;
}

.active .tab-title a{
  color: #fff;
}
.flex-direction-nav a.flex-next {
  right: 16px;
}
.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-prev:before {
  content: "\e649";
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  color: #fff;
}
.flex-direction-nav a.flex-prev {
  left: 16px;
}
.flex-direction-nav a.flex-prev:before {
  content: "\e64a";
}
.flex-direction-nav a {
  opacity: 1;
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  margin: -12px 0 0;
}
.profile-slider .slides li{min-height:500px !important; height: 50vh !important;}
