---
layout: foundry
---

{% include home-hero2.html %}

<section class="image-edge">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="mb-xs-24" src="/img/1280x1024.jpg">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h2 class="mb40 mb-xs-16">Excellence at Every Level</h2>
      <h6 class="uppercase mb16">OVER 1,500 PROJECTS COMPLETED</h6>
      <p class="lead mb40">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;</p>
      <a class="btn-lg btn" href="#">Contact Us</a>
    </div>
  </div>
</section>

{% include services1.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="logo-carousel">
        <ul class="slides">
          <li>
            <img alt="Logo" src="img/l1.png">
          </li>
          <li>
            <img alt="Logo" src="img/l2.png">
          </li>
          <li>
            <img alt="Logo" src="img/l3.png">
          </li>
          <li>
            <img alt="Logo" src="img/l4.png">
          </li>
          <li>
            <img alt="Logo" src="img/l1.png">
          </li>
          <li>
            <img alt="Logo" src="img/l2.png">
          </li>
          <li>
            <img alt="Logo" src="img/l3.png">
          </li>
          <li>
            <img alt="Logo" src="img/l4.png">
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="text-slider slider-paging-controls text-center relative">
        <ul class="slides">
          <li>
            <h5>Stated plainly, Dabble Lab is the reason I have a business today instead of just an idea. If you've got a vision for a software project, Dabble Lab can be an invaluable asset to you.</h5>
            <div class="quote-author">
              <h6 class="uppercase mb0">Zack Tidler</h6><span>Founder, Yasny</span> </div>
          </li>
          <li>
            <h5>If you are looking to launch, Dabble Lab is the launchpad… they are like a railgun for agile processes.   Their exceptional breadth and depth of tools and technology were invaluable to our company.</h5>
            <div class="quote-author">
              <h6 class="uppercase mb0">Mark Swanson</h6><span>CEO, Pickett Technologies</span> </div>
          </li>
          <li>
            <h5>I had all but given up on my dreams to create an app until I met Dabble Lab. These guys not only reassured me that the job could be done affordably AND well, but they guided me through the process and challenged my idea to make it better.</h5>
            <div class="quote-author">
              <h6 class="uppercase mb0">Nick Wagner</h6><span>Founder, Flipbook</span> </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary normal-padding">
  <div class="container ">
    <div class="row ">
      <h2 style="text-align: center;">What to learn more? Let&#8217;s talk.</h2>
      <p class="lead" style="text-align: center;">Schedule a free 30-minute project planning call to learn more about our process and pricing.</p>
      <p style="text-align: center;">
        <a href="/schedule" class="btn btn-filled btn-lg mt-xs-40">Schedule a Call</a>
      </p>
    </div>
  </div>
</section>
