---
layout: foundry
---

{% include home-hero2.html %}

<section>
  <div class="container">
    <div class="row mb40 mb-xs-24">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <h3 class="">We plan, manage, and execute interior and exterior renovations nationwide and the Caribbean.</h3>
          <p class="mb0">
            CPS works closely with our clients, whether we are value engineering a solution, reimagining a hotel interior or exterior, generating budget pricing models, or implementing guest room, lobby, or ballroom renovations we have the people and processes to ensure success.  <i>Let’s work together!</i>
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <div class="tabbed-content button-tabs">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title">
                <span>Interior Renovation</span>
              </div>
            </li>
            <li class="">
              <div class="tab-title">
                <span>Exterior Restoration</span>
              </div>
            </li>
            <li class="">
              <div class="tab-title">
                <span>specialty Contracting</span>
              </div>
            </li>
          </ul>
          <ul class="content">
            <li class="active">
              <div class="tab-content">
                <p>
                  For the past 25 years, we’ve been dedicated to the hospitality industry. Starting with the first Holiday Inn renovations in the mid 80’s, to the 2,000+ guestrooms and large scale public spaces of today. Our portfolio includes some of the most widely recognized brands in the hotel industry.  Our energetic team of professional technicians are dedication to our clients, many of which we have worked with for years.
                </p>
              </div>
            </li>
            <li class="">
              <div class="tab-content">
                <p>
                  For the past 34 years, CPS has been proving innovative restoration solutions to the hospitality, condominium, healthcare and commercial industries.  Our team of 275 trained and committed technicians are working nationwide on buildings everyday, serving our clients building envelope requirements.
                </p>
              </div>
            </li>
            <li class="">
              <div class="tab-content">
                <p>
                  Challenging projects are a strong suit for us at CPS.  We enjoy the challenge these unique projects provide.  Working in partnership with our clients and consultants, we are able to develop solutions and schedules to make what seems impossible, possible.  All it takes is a great team of creative professionals.
                </p>
              </div>
            </li>

          </ul>
        </div>
        <!--end of button tabs-->
      </div>
    </div>

  </div>
</section>
<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="">Committed. Accountable. Accessible. Trustworthy. Dependable. Qualified. Skilled. Family. These are some of the terms that our clients use to describe us.  Collaborating on a solution, Planning, Executing and Finalizing projects on-time and on budget are strengths for our tenured teams of professionals.  Understanding each project and the owner's culture is what we are about at CPS.</h4>
      </div>
    </div>
  </div>
</section>
<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/projects/renaissance-vinoy">
          <img alt="Pic" class="mb24" src="/img/projects/interior/renaissance-vinoy/renaissance-vinoy-1.jpg">
        </a>
        <a href="/projects/renaissance-vinoy">
          <h4 class="mb8">Renaissance Vinoy</h4>
        </a>
        <ul class="list-inline mb16">
          <li>St Petersburg, FL</li>
          <li>
            <a href="/interiors">
              <span class="label">Interior</span>
            </a>
          </li>
        </ul>
        <p class="mb0">
          Fast track project – Complete renovation of guestrooms, bathrooms, showers, balconies and replacement of fan coil units (FCU’s).
        </p>
      </div>
      <div class="col-sm-4">
        <a href="/projects/the-ritz-carlton">
          <img alt="Pic" class="mb24" src="/img/projects/exterior/the-ritz-carlton/the-ritz-carlton-3.gif">
        </a>
        <a href="/projects/the-ritz-carlton">
          <h4 class="mb8">The Ritz Carlton</h4>
        </a>
        <ul class="list-inline mb16">
          <li>Amelia Island, FL</li>
          <li>
            <a href="/exteriors">
                <span class="label">Exterior</span>
            </a>
          </li>
        </ul>
        <p class="mb0">
          Extensive exterior façade repairs to ensure a weather-tight building envelope.  New construction of garden suites over existing structure.
        </p>
      </div>
      <div class="col-sm-4">
        <a href="/projects/the-phoenician">
          <img alt="Pic" class="mb24" src="/img/projects/specialty/the-phoenician/the-phoenician-3.jpg">
        </a>
        <a href="/projects/the-phoenician">
          <h4 class="mb8">The Phoenician</h4>
        </a>
        <ul class="list-inline mb16">
          <li>Scottsdale, AZ</li>
          <li>
            <a href="/specialty">
                <span class="label">Specialty</span>
            </a>
          </li>
        </ul>
        <p class="mb0">
          Excavated 900 linear feet of 15’ deep soil, repaired 400+ post tension cables, waterproofed all concrete and reinstalled soil in an operating hotel environment
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="bg-primary pt0 pb180 pt-xs-80 pb-xs-80 overlay">
  <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home24.jpg&quot;);">
    <img alt="image" class="background-image" src="img/home24.jpg" style="display: none;">
  </div>
  <div class="container">
    <div class="row">
      <div class="mt48 col-md-12 text-center">
        <div class="text-slider slider-paging-controls text-center relative">
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <h3 class="mb48 mt48 mb-xs-32">It's all about the company you keep.</h3>
            <ul class="slides" style="width: 1000%; transition-duration: 2.0s; transform: translate3d(-1110px, 0px, 0px);">
              <li class="clone" aria-hidden="true" style="width: 555px; float: left; display: block;">
                <h5>CPS is one of the contractors we turn to when we have a challenging project.  We don’t have to mange them.  They are organized, proactive and are an excellent team of professionals which makes them an excellent partner. Their leadership is second to none and we can always rely on CPS from start to finish.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Scot A. Cameron</h6>
                  <span>Vice President Capital Assets<br/>Concord Hospitality</span>
                </div>
              </li>
              <li class="" style="width: 555px; float: left; display: block;">
                <h5>FelCor Lodging Trust has worked with CPS on a number of exterior façade projects with excellent results.  We awarded them the interior renovation project at the Renaissance Vinoy Resort in St. Petersburg, FL.  The project was a complete renovation of 110 rooms, corridors and guestrooms, HVAC fan coil units all on a fast-track 3 month schedule. CPS meet the schedule and the quality of work and the attention to detail was first class.   Hats off to the CPS team!</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Robert Carl</h6>
                  <span>Senior Vice President<br/>Director of Design and Construction</span>
                </div>
              </li>
              <li class="flex-active-slide" style="width: 555px; float: left; display: block;">
                <h5>A fire in a hotel is never a good thing and can be devastating to revenue as well as moral of associates. The goal on any loss event is to return to a sense of normalcy as soon as possible. Having worked with many different contractors over the years, it was clear to me the team I wanted to assist us was the CPS team. The sense of urgency, professionalism, and attention to detail was exactly what the doctor ordered when trying to manage a huge loss from afar. Not only did I not hear of any issues with the project, but praise from ownership and the property staff on how fast the hotel was returned to service. CPS has solidified a relationship for life.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Stan Hannibal </h6>
                  <span>Vice President – Engineering<br/>McKibbon Hospitaltiy</span>
                </div>
              </li>
              <li class="" style="width: 555px; float: left; display: block;">
                <h5>I wanted to extend my gratitude for the teamwork by the CPS team.  The entire team left the building so much better than when you arrived. We believe that due to their efforts, we minimized the displacement and the work they did improved the asset. The entire team did their best to help us mitigate losses.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Sandy Burkett</h6>
                  <span>General Manager<br/>Hotel Monaco Denver</span>
                </div>
              </li>
              <li class="clone" aria-hidden="true" style="width: 555px; float: left; display: block;">
                <h5>You have an incredible team. Never once have I ever asked for something to be done and it was anything other than "yes". If I asked for an update it was always a direct, accurate and honest evaluation. Having done what they do, I know this is a direct result of the knowledge that they have 100% support and empowerment. That's makes all the difference in the world.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Brett Duke Vice</h6>
                  <span>President of Operations<br/> Beacon Bay</span>
                </div>
              </li>
              <li class="clone" aria-hidden="true" style="width: 555px; float: left; display: block;">
                <h5>I wanted to express my satisfaction with the work during the caulking project here at Bright House Field.  Their cleanliness and organization were outstanding.  I would definitely recommend Jonathan to oversee any future projects here at the ballpark or anywhere else.  His professionalism, communication, organization and overall handling of the job were to the highest of quality.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Cory Sipe</h6>
                  <span>Facility Maintenance<br/> Bright House Field</span>
                </div>
              </li>
              <li class="clone" aria-hidden="true" style="width: 555px; float: left; display: block;">
                <h5>I've worked with a lot of contractors and I can tell you our superintendent Ariel, really stands out in comparison. The final product looks great and I appreciate all of your efforts and now I can sleep a little better at night knowing that it has been redone by professionals.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Eddy Najdowski</h6>
                  <span>Chief Engineer<br/>Hotel Duval</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

{% include services2.html headline="A COMMITMENT TO EXCELLENCE AT EVERY LEVEL" %}
