---
layout: foundry
---

{% include home-hero2.html %}

<section>
  <div class="container">
    <div class="row mb40 mb-xs-24">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <h3 class="">We plan, manage, and execute interior and exterior renovations nationwide and the Caribbean.</h3>
          <p class="mb0">
            Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry's unique and flexible style has you covered.
          </p>
      </div>
    </div>

    <!--end of row-->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <div class="tabbed-content button-tabs">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title">
                <span>Interior Renovation</span>
              </div>
            </li>
            <li class="">
              <div class="tab-title">
                <span>Exterior Restoration</span>
              </div>
            </li>
            <li class="">
              <div class="tab-title">
                <span>Speciality Contracting</span>
              </div>
            </li>
          </ul>
          <ul class="content">
            <li class="active">
              <div class="tab-content">
                <p>
                  For the past 34 years, we’ve been dedicated to the hospitality industry. Starting with the first Holiday Inn renovations in the mid 80’s, to the 2,000+ guestrooms and large scale public spaces of today. Our portfolio includes some of the most widely recognized brands in the hotel industry.  Our energetic team of professional technicians are dedication to our clients, many of which we have worked with for years.
                </p>
              </div>
            </li>
            <li class="">
              <div class="tab-content">
                <p>
                  For the past 34 years, CPS has been proving innovative restoration solutions to the hospitality, condominium, healthcare and commercial industries.  Our team of 275 trained and committed technicians are working nationwide on buildings everyday, serving our clients building envelope requirements.
                </p>
              </div>
            </li>
            <li class="">
              <div class="tab-content">
                <p>
                  Challenging projects are a strong suit for us at CPS.  We enjoy the challenge these unique projects provide.  Working in partnership with our clients and consultants, we are able to develop solutions and schedules to make what seems impossible, possible.  All it takes is a great team of creative professionals.
                </p>
              </div>
            </li>

          </ul>
        </div>
        <!--end of button tabs-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#">
          <img alt="Pic" class="mb24" src="/img/crabby-bills-cover.jpg">
        </a>
        <a href="#">
          <h4 class="mb8">Hanging Ten</h4>
        </a>
        <ul class="list-inline mb16">
          <li>September 25, 2011</li>
          <li>
            <a href="#">
                                        <span class="label">Interior</span>
                                    </a>
          </li>
        </ul>
        <p class="mb0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra eros. Vivamus eu nisi ut dui bibendum ornare vitae a enim. Sed sit amet
        </p>
      </div>
      <div class="col-sm-4">
        <a href="#">
                                <img alt="Pic" class="mb24" src="img/lido-beach-cover.jpg">
                            </a>
        <a href="#">
          <h4 class="mb8">Round The Twist</h4>
        </a>
        <ul class="list-inline mb16">
          <li>September 21, 2011</li>
          <li>
            <a href="#">
                                        <span class="label">Exterior</span>
                                    </a>
          </li>
        </ul>
        <p class="mb0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra eros. Vivamus eu nisi ut dui bibendum ornare vitae a enim. Sed sit amet
        </p>
      </div>
      <div class="col-sm-4">
        <a href="#">
                                <img alt="Pic" class="mb24" src="img/loews-hollywood-cover.jpg">
                            </a>
        <a href="#">
          <h4 class="mb8">Road Trippin'</h4>
        </a>
        <ul class="list-inline mb16">
          <li>September 18, 2011</li>
          <li>
            <a href="#">
                                        <span class="label">Speciality</span>
                                    </a>
          </li>
        </ul>
        <p class="mb0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra eros. Vivamus eu nisi ut dui bibendum ornare vitae a enim. Sed sit amet
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="bg-primary pt0 pb180 pt-xs-80 pb-xs-80 overlay">
  <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home24.jpg&quot;);">
    <img alt="image" class="background-image" src="img/home24.jpg" style="display: none;">
  </div>
  <div class="container">
    <div class="row">
      <div class="mt48 col-md-6 col-md-offset-3 text-center">
        <div class="text-slider slider-paging-controls text-center relative">
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <h3 class="mb48 mt48 mb-xs-32">It's all about the company you keep.</h3>
            <ul class="slides" style="width: 1000%; transition-duration: 2.0s; transform: translate3d(-1110px, 0px, 0px);">
              <li class="clone" aria-hidden="true" style="width: 555px; float: left; display: block;">
                <h5>There is only once choice when it comes to our marketing collateral, Foundry always deliver inspiring work on-time and budget.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Natasha Canter</h6>
                  <span>Vault</span>
                </div>
              </li>
              <li class="" style="width: 555px; float: left; display: block;">
                <h5>The guys at Foundry were an absolute pleasure to work with - they took on our project with the same enthusiasm and passion as us.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Anna Thompson</h6>
                  <span>Vault</span>
                </div>
              </li>
              <li class="flex-active-slide" style="width: 555px; float: left; display: block;">
                <h5>We've worked with Foundry on our web presence over the past 8 years and always relish the opportunity to work alongside them.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Carl Vance</h6>
                  <span>Aviary Bar</span>
                </div>
              </li>
              <li class="" style="width: 555px; float: left; display: block;">
                <h5>There is only once choice when it comes to our marketing collateral, Foundry always deliver inspiring work on-time and budget.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Natasha Canter</h6>
                  <span>Vault</span>
                </div>
              </li>
              <li class="clone" aria-hidden="true" style="width: 555px; float: left; display: block;">
                <h5>The guys at Foundry were an absolute pleasure to work with - they took on our project with the same enthusiasm and passion as us.</h5>
                <div class="quote-author">
                  <h6 class="uppercase mb0">Anna Thompson</h6>
                  <span>Vault</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

{% include services2.html headline="Excellence at Every Level" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit" %}
