<section class="page-title page-title-1 image-bg">
  <div class="background-image-holder fadeIn" style="background: url(&quot;/img/contact1.jpg&quot;);">
    <img alt="Background Image" class="background-image" src="/img/contact1.jpg" style="display: none;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb0">Contact Us</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <ol class="breadcrumb breadcrumb-2">
    <li>
      <a href="/">Home</a>
    </li>
    <li>Contact Us</li>
  </ol>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h4 class="uppercase">Get In Touch</h4>
        <p>
          You can use the form on this page to contact us by email. We can also be reached via phone at <a href="tel://{{include.phone}}">{{include.phone}}</a>.
        </p>
        <p>
          <a href="/locations">See our office locations list</a> for local office details.
        </p>
        <p>
          Interested in being a subcontractor? Submit your <a href="/subcontractor">subcontractor form here</a>.
        </p>
        <hr>
        <p>
          <h5>Corporate Office</h5>
          <address>
          {{include.address}}
          <br/>
          <a href="mailto:{{include.email}}">{{include.email}}</a>
          <br>
          {{include.phone}}
          </address>
        </p>

        <hr>

      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <form class="form-newsletter form-email" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="text" class="validate-required signup-name-field" name="name" placeholder="Your Name">
          <input type="text" class="validate-email validate-required signup-email-field field-error" name="email" placeholder="Email Address">
          <textarea class="validate-required signup-last-name-field" name="message" rows="4" placeholder="Message"></textarea>
          <button type="submit">Send Message</button>
          <iframe srcdoc="<!-- Begin MailChimp Signup Form --> <link href=&quot;//cdn-images.mailchimp.com/embedcode/slim-10_7.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;> <style type=&quot;text/css&quot;> 	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } 	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block. 	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id=&quot;mc_embed_signup&quot;> <form action=&quot;https://completeproperty.us17.list-manage.com/subscribe/post?u=bc164aa2aedc657a0e99465f9&amp;id=890dba717d&quot; method=&quot;post&quot; id=&quot;mc-embedded-subscribe-form&quot; name=&quot;mc-embedded-subscribe-form&quot; class=&quot;validate&quot; target=&quot;_blank&quot; novalidate>
              <div id=&quot;mc_embed_signup_scroll&quot;>

          <div class=&quot;mc-field-group&quot;>
            <label for=&quot;mce-FNAME&quot;>Your Name </label>
            <input type=&quot;text&quot; value=&quot;&quot; name=&quot;FNAME&quot; class=&quot;&quot; id=&quot;mce-FNAME&quot;>
          </div>
          <div class=&quot;mc-field-group&quot;>
            <label for=&quot;mce-EMAIL&quot;>Email Address </label>
            <input type=&quot;email&quot; value=&quot;&quot; name=&quot;EMAIL&quot; class=&quot;required email&quot; id=&quot;mce-EMAIL&quot;>
          </div>
          <div class=&quot;mc-field-group&quot;>
            <label for=&quot;mce-LNAME&quot;>Your Message </label>
            <input type=&quot;text&quot; value=&quot;&quot; name=&quot;LNAME&quot; class=&quot;&quot; id=&quot;mce-LNAME&quot;>
          </div>
            <div id=&quot;mce-responses&quot; class=&quot;clear&quot;>
              <div class=&quot;response&quot; id=&quot;mce-error-response&quot; style=&quot;display:none&quot;></div>
              <div class=&quot;response&quot; id=&quot;mce-success-response&quot; style=&quot;display:none&quot;></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style=&quot;position: absolute; left: -5000px;&quot; aria-hidden=&quot;true&quot;><input type=&quot;text&quot; name=&quot;b_bc164aa2aedc657a0e99465f9_890dba717d&quot; tabindex=&quot;-1&quot; value=&quot;&quot;></div>
              <div class=&quot;clear&quot;><input type=&quot;submit&quot; value=&quot;Subscribe&quot; name=&quot;subscribe&quot; id=&quot;mc-embedded-subscribe&quot; class=&quot;button&quot;></div>
              </div>
          </form> </div>  <!--End mc_embed_signup-->" class="mail-list-form">
          </iframe>

      </div>
    </div>
  </div>
</section>
