
<section class="page-title page-title-1 image-bg">
  <div class="background-image-holder fadeIn" style="background: url(&quot;/img/contact1.jpg&quot;);">
    <img alt="Background Image" class="background-image" src="/img/contact1.jpg" style="display: none;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb0">Contact Us</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <ol class="breadcrumb breadcrumb-2">
    <li>
      <a href="/">Home</a>
    </li>
    <li>Contact Us</li>
  </ol>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h4 class="uppercase">Get In Touch</h4>
        <p>
          You can use the form on this page to contact us by email. We can also be reached via phone at <a href="tel://{{include.phone}}">{{include.phone}}</a>.
        </p>
        <p>
          <a href="/locations">See our office locations list</a> for local office details.
        </p>
        <p>
          Interested in being a subcontractor? Download our <a href="/subcontractor">subcontractor form</a>.
        </p>
        <hr>
        <p>
          <h5>Corporate Office</h5>
          <address>
          {{include.address}}
          <br/>
          <a href="mailto:{{include.email}}">{{include.email}}</a>
          <br>
          {{include.phone}}
          </address>
        </p>

        <hr>

      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="text" class="validate-required" name="name" placeholder="Your Name">
          <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address">
          <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
