<section class="image-edge">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="mb-xs-24" src="{{include.image_url}}">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h2 class="mb40 mb-xs-16">Excellence at Every Level</h2>
      <h6 class="uppercase mb16">OVER 1,500 PROJECTS COMPLETED</h6>
      <p class="lead mb40">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;</p>
      <a class="btn-lg btn" href="#">Contact Us</a>
    </div>
  </div>
</section>
