<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16">Contained Tiles</h4>
        <p class="lead mb80">
          These multipurpose tiles make ideal presentations for project showcases or as links to auxilary pages around your site.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
        <div class="horizontal-tile">
          <div class="tile-left">
            <a href="#">
              <div class="background-image-holder">
                <img alt="image" class="background-image" src="https://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true">
              </div>
            </a>
          </div>
          <div class="tile-right bg-secondary">
            <div class="description">
              <h4 class="mb8">Union Marriages</h4>
              <h6 class="uppercase">
                                    Graphic Design
                                </h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
        <div class="horizontal-tile">
          <div class="tile-left">
            <a href="#">
              <div class="background-image-holder">
                <img alt="image" class="background-image" src="https://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true">
              </div>
            </a>
          </div>
          <div class="tile-right bg-secondary">
            <div class="description">
              <h4 class="mb8">Pondering Blonde</h4>
              <h6 class="uppercase">
                                    Fashion Photography
                                </h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
