<section class="image-bg parallax overlay">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="{{image_url}}">
  </div>
  <div class="container">
    <div class="row mb64 mb-xs-24">
      <div class="col-sm-6 col-md-5 text-right text-center-xs">
        <h1 class="large mb8">10,000+</h1>
        <h6 class="uppercase">Customers using our templates</h6>
      </div>
      <div class="col-md-2 text-center hidden-sm hidden-xs">
        <i class="ti-infinite icon icon-lg mt8 mt-xs-0"></i>
      </div>
      <div class="col-sm-6 col-md-5 text-center-xs">
        <h1 class="large mb8">Limitless</h1>
        <h6 class="uppercase">Layout potential using Foundry</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb40 mb-xs-24">Authentic, handcrafted design that gives your
          <br> site subtle, confident appeal.</h3>
        <a class="btn btn-lg btn-filled" href="chooser.html">Check Out The Demos</a>
      </div>
    </div>

  </div>

</section>
