<footer class="footer-2 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
        <a href="#">
          <div class="vnu"><img alt="Logo" class="image-small mb16" src="/img/logo-light.png"></div>
        </a>
        <p class="lead mb48 mb-xs-16">
          13505 Prestige Place<br> Tampa, Florida 33635-9619<br> (727) 793-9777</p>
        <ul class="list-inline social-list spread-children">
          {% if site.linkedin_username %}
          <li><a href="http://linkedin.com/company/{{ site.linkedin_username }}" target="_self"><i class="icon fa fa-linkedin-square icon-sm"></i></a></li>
          {% endif %}
          {% if site.twitter_username %}
          <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_self"><i class="icon fa fa-twitter-square icon-sm"></i></a></li>
          {% endif %}
          {% if site.facebook_username %}
          <li><a href="http://facebook.com/{{ site.facebook_username }}" target="_self"><i class="icon fa fa-facebook-square icon-sm"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="row fade-half">
      <div class="col-sm-4 text-center-xs">
        <span>© Copyright 2017 {{ site.title | escape }}</span>
      </div>

      <div class="col-sm-4 text-center hidden-xs">
        <span><a href="/privacy">Privacy</a> | <a href="/privacy">Legal</a> </span>
      </div>

      <div class="col-sm-4 text-right hidden-xs">
        <span>{{ site.email | escape }}</span>
      </div>
    </div>
  </div>
</footer>
