<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
  <ul class="slides">
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/hero1.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb-xs-16 bold">Interior Renovation & Exterior Restoration Services</h1>
            <p class="lead mb40">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="btn btn-lg" href="#">Learn More</a>
          </div>
        </div>

      </div>

    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="img/hero2.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb-xs-16 bold">Interior Renovation Services</h1>
            <p class="lead mb40">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="btn btn-lg" href="#">Learn More</a>
          </div>
        </div>

      </div>

    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="img/hero3.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb-xs-16 bold">Exterior Restoration Services</h1>
            <p class="lead mb40">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="btn btn-lg" href="#">Learn More</a>
          </div>
        </div>

      </div>

    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="img/hero4.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb-xs-16 bold">specialty Contracting</h1>
            <p class="lead mb40">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="btn btn-lg" href="#">Learn More</a>
          </div>
        </div>

      </div>

    </li>
  </ul>
</section>
