<div class="nav-container">
  <nav>
    <div class="nav-bar">
      <div class="module left">
        <a href="/">
          <img class="logo logo-light" alt="Foundry" src="/img/logo-light.png">
          <div class="vnu">
            <img class="logo logo-dark" alt="Foundry" src="/img/logo-dark.png">
          </div>
        </a>
      </div>
      <div class="module widget-handle offscreen-toggle right toggle-widget-handle">
        <i class="ti-menu"></i>
      </div>
    </div>
    <div class="offscreen-container bg-dark text-center">
      <div class="close-nav">
        <a href="#">
          <i class="ti-close"></i>
        </a>
      </div>
      <div class="v-align-transform text-center">
        <a href="#">
          <div class="vnu"><img alt="Logo" class="image-xs mb40 mb-xs-24" src="/img/logo-light.png"></div>
        </a>
        <ul class="mb40 mb-xs-24">
          <li class="fade-on-hover"><a href="/about" target="_self"><h5 class="uppercase mb8">About Us</h5></a></li>
          <li class="fade-on-hover vpf"><a href="/faq" target="_self"><h5 class="uppercase mb8">FAQ</h5></a></li>
          <li class="fade-on-hover vpf"><a href="/blog" target="_self"><h5 class="uppercase mb8">Blog</h5></a></li>
          <li class="fade-on-hover vpf"><a href="/contact" target="_self"><h5 class="uppercase mb8">Contact</h5></a></li>
        </ul>
        <p class="fade-half">
          1311 N Westshore Blvd Suite 101<br> Tampa, FL 33607<br> (813) 306-0000<br> hello@dabblelab.com
        </p>
        <ul class="list-inline social-list">
          <li>
            <a href="http://twitter.com/{{ site.twitter_username }}" target="_self">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="http://facebook.com/{{ site.facebook_username }}" target="_self">
              <i class="ti ti-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://linkedin.com/company/{{ site.linkedin_username }}" target="_self">
              <i class="ti ti-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
