<div class="nav-container">
  <a id="top"></a>
  <nav>
    <div class="nav-bar">
    <div class="module left">
      <a href="index.html">
        <img class="logo logo-light" alt="Logo" src="/img/logo-light.png" />
        <img class="logo logo-dark" alt="Logo" src="/img/logo-dark.png" />
      </a>
    </div>
    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      <i class="ti-menu"></i>
    </div>
    <div class="module-group right">
      <div class="module left">
        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="has-dropdown">
            <a href="/about">About Us</a>
            <ul>
              <li>
                <a href="/about">Company</a>
              </li>
              <li>
                <a href="/team">Leadership</a>
              </li>
              <li>
                <a href="/safety">Safety</a>
              </li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="/projects">Portfolio</a>
            <ul class="mega-menu">
              <li>
                <ul>
                  <li>
                    <span class="title">Interiors</span>
                  </li>
                  <li>
                    <a href="#">
                      Hyatt Regency Coconut Point</a>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <span class="title">Exterior</span>
                  </li>
                  <li>
                    <a href="#">
                      Vinoy Place</a>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <span class="title">Speciality</span>
                  </li>
                  <li>
                    <a href="#">
                      Carlton Dunes</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
          <li class="has-dropdown">
            <a href="/contact">Contact</a>
            <ul>
              <li><a href="/locations">Locations</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--end of menu module-->
      <div class="module">
        <a class="btn btn-lg" href="/contact">Contact Us</a>
      </div>
    </div>
    <!--end of module group-->
  </div>
  </nav>
</div>
