<section class="page-title page-title-3 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center custom-header">
        <h3 class="uppercase">{{ page.name }}</h3>
        <h5 class="uppercase">{{page.location}}</h5>
        <h6 class="uppercase">{{page.type}}</h6>
      </div>
    </div>
  </div>
</section>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="image-slider slider-all-controls controls-inside pt0 pb0 height-70 profile-slider">
            <ul class="slides">
              {% for item in page.images %}
              <li class="">
                  {% assign img = page.images[0] %}
                  <img alt="image" class="background-image" src="{{ item.image.src }}">
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-4">
        <div class="custom-list">
          {% for item in page.scope %}
          <div>
            <p><i class="ti-check-box"></i>{{ item.work }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </section>
