<section class="projects pt24">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb16">Recent Projects</h3>
        <p class="lead mb64">
          Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi .
        </p>
      </div>
    </div>

    <div class="row pb24">
      <div class="col-sm-12 text-center">
        <ul class="filters mb0">
        </ul>
      </div>
    </div>

    <div class="row masonry-loader">
      <div class="col-sm-12 text-center">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="row masonry masonryFlyIn">
      {% for item in site.projects %}
      <div class="col-md-4 col-sm-6 masonry-item project" data-category="{{item.type}}">
        <div class="image-tile inner-title hover-reveal text-center">
          <a href="{{item.url}}">
            <img alt="{{item.name}}" src="{{item.image_url}}">
            <div class="title">
                <h5 class="uppercase mb0">{{item.name}}</h5>
                <span>{{item.location}}</span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</section>
