<section>
<div class="container">
  <!-- Filter Controls - Simple Mode -->
  <div class="row">

  <!-- Filter Controls - Multifilter Mode -->
  <div class="col-sm-12 text-center">
      <ul class="simplefilter">
        <li class="fltr-controls active" data-category="all" >All</li>
        <li class="fltr-controls" data-category="exterior" >Exterior</li>
        <li class="fltr-controls" data-category="interior" >Interior</li>
        <li class="fltr-controls" data-category="specialty" >Specialty</li>

      </ul>
  </div>
</div>



  <div class="row push-down">
    <!-- This is the set up of a basic gallery, your items must have the categories they belong to in a data-filter
    attribute, which starts from the value 1 and goes up from there -->
    <div class="filtr-container">
      {% for item in site.projects %}
      <div class="col-md-3 filtr-item" data-filter="{{item.type}}" data-category="{{item.type}}">
        <div class="image-tile hover-tile text-center">
        {% assign img = item.images[0] %}
        <img class="img-responsive background-image" src="{{ img.image.src }}" alt="{{item.name}}">
        <div class="hover-state">
          <a href="{{item.url}}">
            <h5 class="uppercase bold mb8">{{item.name}}</h5>
            <h6 class="uppercase">{{item.location}}</h6>
          </a>
        </div>
      </div>

  </div>
  {% endfor %}
  </div>


  </div>
</div>
</section>
