<section class="projects pt24">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb16">Recent Projects</h3>
        <p class="lead mb64">
          Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi .
        </p>
      </div>
    </div>

    <div class="row pb24">
      <div class="col-sm-12 text-center">
        <ul class="filters mb0">
        </ul>
      </div>
    </div>

    <div class="row masonry-loader">
      <div class="col-sm-12 text-center">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="row masonry masonryFlyIn">
      {% for item in site.projects %}
      <div class="col-sm-3 masonry-item project" data-category="{{item.type}}">
        <div class="image-tile hover-tile text-center">
          {% assign img = item.images[0] %}
          <img alt="{{item.name}}" class="background-image" src="{{ img.image.src }}">
          <div class="hover-state">
            <a href="{{item.url}}">
              <h5 class="uppercase bold mb8">{{item.name}}</h5>
              <h6 class="uppercase">{{item.location}}</h6>
            </a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>

  </div>

</section>
