<section class="projects pt48">
  <div class="container">

    <!--<div class="row pb24">
      <div class="row mb16 mb-xs-0">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h3>Sed ut perspiciatis unde omnis iste natus</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <p class="lead">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>
-->
      <div class="row pb24">
      <div class="col-sm-12 text-center">
          <ul class="filters mb0">
          </ul>
      </div>
    </div>
    <div class="masonry-loader">
      <div class="col-sm-12 text-center">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="row masonry masonryFlyIn fadeIn">
      {% for item in site.projects %}
      <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-category="{{item.type}}">
        <div class="image-tile hover-tile text-center">
          {% assign img = item.images[0] %}
          <img alt="{{item.name}}" class="background-image" src="{{ img.image.src }}">
          <div class="hover-state">
            <a href="{{item.url}}">
              <h5 class="uppercase bold mb8">{{item.name}}</h5>
              <h6 class="uppercase">{{item.location}}</h6>
            </a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>

  </div>
    </div>
</section>
