<section class="bg-primary">
  <div class="container">
    <div class="row mb48 mb-xs-0">
      <div class="col-md-10">
        <h3 class="thin">{{include.headline}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">Interiors Division</h6>
        <ul class="custom-bullets">
          <li>Guestroom, Public Space Renovation</li>
          <li>Complete Finishes Replacement</li>
          <li>Shower Conversions</li>
          <li>Sense of Arrival Renovations</li>
          <li>Abatement & Mold Remediation</li>
          <li>Window & Door Assemblies</li>
          <li>Window & Door Assemblies</li>
          <li>Life Safety & ADA Upgrades</li>
          <li>Mechanical / Electrical / Plumbing</li>
          <li>Space Modification / Reconfiguration</li>
          <li>Historic Spaces Remodeling</li>
          <li>Fast –Track Project Implementation</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">Building Envelope Division</h6>
        <ul>
          <li>Exterior Façade Waterproofing</li>
          <li>Structural Concrete Repair</li>
          <li>Post-Tension System Repairs</li>
          <li>Sealant and Wet Glazing</li>
          <li>Carbon Fiber Repair</li>
          <li>Cathodic Protection</li>
          <li>Balcony Decks Systems</li>
          <li>Handrail Replacement</li>
          <li>Epoxy Injection</li>
          <li>Expansion Joint Control Systems</li>
          <li>Fluid Applied Waterproofing Systems</li>
          <li>Hot Membrane Waterproofing Systems</li>
          <li>Historic & Masonry Restorations</li>
          <li>Hotel Brand Conversion</li>
          <li>Storefront Replacement</li>
          <li>Garage Repairs & Traffic Coatings</li>
          <li>Stucco Restoration</li>
          <li>Window and Sliding Glass Door Replacement</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">specialty Services</h6>
        <ul>
          <li>Below Grade Waterproofing</li>
          <li>New Construction Services</li>
          <li>Asbestos Abatement</li>
          <li>Lead Abatement</li>
          <li>Mold Remediation</li>
          <li>Structural Demolition</li>
          <li>Interior Demolition</li>
          <li>Drying, Dehumidification</li>
          <li>Moisture Intrusion Solutions</li>
          <li>Emergency / Disaster Response</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">Qualifications</h6>
        <ul>
          <li>Class A Licensed General Contractor</li>
          <li>Licensed in most states</li>
          <li>Asbestos Abatement Certification</li>
          <li>Lead Abatement Certification</li>
          <li>Mold Remediation Certificationv
          <li>Structural Demolition</li>
          <li>30+ Years Industry Experience</li>
        </ul>
      </div>
    </div>

  </div>

</section>
