<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="icon ti ti-microphone"></i>
            <h4>Voluptatem accusantium</h4>
          </div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="icon ti ti-mobile"></i>
            <h4>Accusantium doloremque</h4>
          </div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="icon ti ti-comments"></i>
            <h4>Sed ut perspiciatis</h4>
          </div>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="icon ti ti-check-box"></i>
            <h4>Inventore veritatis</h4>
          </div>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
        </div>

      </div>
    </div>

  </div>
</section>
