<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2 class="thin">{{include.headline}}</h2>
      </div>
    </div>

    <div class="row mb80 mb-xs-0">
      <div class="col-md-6 col-sm-8">
        <p class="lead">
          {{include.content}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">Interiors Division</h6>
        <ul>
          <li>Complete Finishes Replacement</li>
          <li>Abatement & Mold Remediation</li>
          <li>Window & Door Assemblies</li>
          <li>Life Safety</li>
          <li>Mechanical / Electrical / Plumbing</li>
          <li>Space Modification / Reconfiguration</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">Building Envelope Division</h6>
        <ul>
          <li>Carbon Fiber Repair</li>
          <li>Cathodic Protection</li>
          <li>Structural Concrete Repair</li>
          <li>Exterior Façade Painting</li>
          <li>Epoxy Injection</li>
          <li>Expansion Joint Control Systems</li>
          <li>Fluid Applied Waterproofing Systems</li>
          <li>Hot Membrane Waterproofing Systems</li>
          <li>Historic & Masonry Restorations</li>
          <li>Hotel Brand Conversion</li>
          <li>Post-Tension System Repairs</li>
          <li>Storefront Replacement</li>
          <li>Stucco Restoration</li>
          <li>Window and Sliding glass door replacement</li>
          <li>Sealant Replacement</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">Speciality Services</h6>
        <ul>
          <li>Emergency / Disaster Response</li>
          <li>Storefront Protection</li>
          <li>Asbestos Abatement</li>
          <li>Lead Abatement</li>
          <li>Mold Remediation</li>
          <li>Structural Demolition</li>
          <li>Interior Demolition</li>
          <li>Drying, Dehumidification</li>
          <li>Moisture Intrusion Solutions</li>
          <li>Emergency Labor Services</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-xs-24">
        <h6 class="uppercase">Qualifications</h6>
        <ul>
          <li>Emergency / Disaster Response</li>
          <li>Storefront Protection</li>
          <li>Asbestos Abatement</li>
          <li>Lead Abatement</li>
          <li>Mold Remediation</li>
          <li>Structural Demolition</li>
          <li>Interior Demolition</li>
          <li>Drying, Dehumidification</li>
          <li>Moisture Intrusion Solutions</li>
          <li>Emergency Labor Services</li>
        </ul>
      </div>
    </div>

  </div>

</section>
