<!--team2.html-->
<section class="bg-secondary">
  <div class="container">
    <div class="row mb64 mb-xs-24">
      <div class="col-sm-12 text-center spread-children-large">
        <img alt="Pic" src="/img/120x120.jpg">
        <img alt="Pic" src="/img/120x120.jpg">
        <img alt="Pic" src="/img/120x120.jpg">
        <img alt="Pic" src="/img/120x120.jpg">
        <img alt="Pic" src="/img/120x120.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h2>A professional team you can count on.</h2>
        <p class="mb40 mb-xs-24">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a class="mb0 btn btn-lg btn-filled" href="#">Contact Us</a>
      </div>
    </div>

  </div>

</section>
