<section>
  <div class="container">
    <div class="row">
      <p class="lead text-center mb48">
        CPS is comprised of a team of over 275, project managers, superintendents and technicians, all of which are on-site nationwide taking care of our clients. Their commitment to excellence at every level is proven everyday.
      </p>
      {% for item in site.data.team %}
      <div class="col-md-4 col-sm-6">
        <div class="image-tile outer-title text-center">
          <img alt="Pic" src="{{item.image_url}}">
          <div class="title mb16">
            <h5 class="uppercase mb0">{{item.name}}</h5>
            <span>{{item.title}}</span>
          </div>
          <p class="mb0">
            <a href="mailto:{{item.email}}">{{item.email}}</a>
          </p>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>

</section>
