<!--short left text title with image-->
<section class="page-title page-title-4 image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="{{include.image}}">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0">{{include.title}}</h3>
      </div>
      <div class="col-md-6 text-right">
        <ol class="breadcrumb breadcrumb-2">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">{{include.title}}</li>
        </ol>
      </div>
    </div>

  </div>

</section>
