<section class="page-title page-title-3 image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="{{include.image_url}}">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="uppercase mb0">{{include.title}}</h3>
      </div>
    </div>

  </div>

  <ol class="breadcrumb breadcrumb-2">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="active">{{include.title}}</li>
  </ol>
</section>
